* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: Helvetica;
    font-weight: 600;
}

body{
    background-image: linear-gradient(to right, #EBC657 -10%, #DB8E52, #E8504A);
}

input {
    margin: 2em 0 2em 0;
    width: 22em!important;
    background-color: white;
    align-self: center;
}

form {

    padding: 3em 5em 3em 5em;
    max-width: 55em;
    width: 45%;
    display: flex;
    justify-content: center;
    text-align: center;
    -webkit-box-shadow: 0px 0px 40px -9px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 0px 40px -9px rgba(0,0,0,0.50);
    box-shadow: 0px 0px 40px -9px rgba(0,0,0,0.50);


}

.form-group{
    margin: 2em 2em 2em 2em;
    background-color: rgb(236, 236, 236);
}

.btn {
    margin-top: 0;
}

.form-container {

    display: table-caption;

}

.form-control{
    background-color: white;
}

#topicos{
    text-align: left;
}
/* .container {
    background: #FFFFFF url("img/logo-topo.jpg") no-repeat right top fixed;
    background-size: 10em;
} */

#pdados{
    font-weight: 750;
}